body {
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    padding: 0;
    background-color: black;
    color: #ddd;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/series-netflix.webp') center/cover;
    opacity: 0.4; /* Cambia la opacidad de la imagen de fondo */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
    filter: blur(5px);
}
h1 {
    text-align: center;
    padding: 1.7rem;
    background-image: url('images/cinta2.jpg');
    background-size: contain;
    width: 100%;
    height: 30px;
    color: black;
    margin: 0 0 2rem 0;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    opacity: 0.6;
    margin-left: -15px;
}

#newPostForm {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semi-transparente */
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto; /* Centra el contenedor verticalmente y horizontalmente */
    margin-top: 50px;
    float: none;
}

#newPostForm label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #3B558A;
}

#newPostForm input[type="text"],
#newPostForm input[type="file"] {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #95B4EF;
    color: #11234C;
    border: none;
    font-family: 'Roboto', sans-serif;
}
#newPostForm textarea {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 10px; /* Margen inferior */
    border-radius: 5px; /* Borde redondeado */
    background-color: #95B4EF;
    color: #11234C;
    border: none;
    resize: none;
    font-family: 'Roboto', sans-serif;
}

#newPostForm input[type="submit"] {
    padding: 1rem;
    background-color: #26689e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
#newPostForm input[type="submit"]:hover {
    background-color: #3B558A;
}
a.return{
    display: inline-block;
    padding: 5px 10px;
    background-color: #112A6A;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.1s ease;
}
a.return:hover {
    background-color: #0B1C4B;
}