body {
    background: url('images/backgroundHome.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
    background-position: center; /* Ajusta la posición de la imagen de fondo */
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    padding: 0;
    background-color: #222;
    color: #ddd;
}
a.post-link {
    font-weight: bold;
    display: inline-block;
    padding: 10px 15px;
    background-color: #544669;
    color: #fff9f9;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 15px;
}
a.new_post {
    display: inline-block;
    padding: 10px 15px;
    background-color: #2DA6F5;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    padding: 1.5rem;
    background-color: #26689e;
    color: white;
    margin: 0 0 2rem 0;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
a.return {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}