body {
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    padding: 0;
    background-color: #ddd;
    color: #ddd;
}

h1 {
    text-align: center;
    padding: 1.5rem;
    background-color: #678ACC;
    color: white;
    margin: 0 0 2rem 0;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 100px;
}

div {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

div p {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #678ACC;
}

a.button {
    display: block;
    width: 150px;
    margin: 0 auto 20px;
    text-align: center;
    padding: 10px;
    background-color: #5775AD;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 50px;
}

a.button:hover {
    background-color: #26689e;
}

a {
    color: #26689e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

