body {
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    padding: 0;
    background-color: #ddd;
    color: #ddd;
}
h1 {
    text-align: center;
    padding: 1.5rem;
    background-color: #678ACC;
    color: white;
    margin: 0 0 2rem 0;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
p {
    color: #26689e;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
}
a.delete {
    display: inline-block;
    padding: 5px 10px;
    background-color: #ED361D;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 40px;
    float: right;
    margin-right: 230px;
}
a.edit {
    display: inline-block;
    padding: 5px 10px;
    background-color: #628EE2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 40px;
}
a.return {
    display: inline-block;
    padding: 5px 10px;
    background-color: #26689e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}
.img {
    margin-left: 20px;
    margin-bottom: 20px;
}
.post-container {
    border: 2px solid #26689e;
    padding: 15px;
    width: 80%;
    word-wrap: break-word;
}
.post-container img{
    max-width: 100%;
}