body {
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    padding: 0;
    background-color: black;
    color: #ddd;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/series-netflix.webp') center/cover;
    opacity: 0.4; /* Cambia la opacidad de la imagen de fondo */
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
}
h1 {
    text-align: center;
    padding: 1.7rem;
    background-image: url('images/cinta2.jpg');
    background-size: contain;
    width: 100%;
    height: 30px;
    color: black;
    margin: 0 0 2rem 0;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    opacity: 0.6;
    margin-left: -15px;
}
h2{
    color: #ddd;
    font-family: 'Roboto', sans-serif;
}

.item {
    text-align: center; /* Centrar el contenido dentro del div */
    display: inline-block; /* Hacer que los elementos div se muestren en línea */
    margin: 0 10px; /* Espacio entre cada elemento */
}

.item img {
    width: 150px; /* Ajustar el ancho de las imágenes */
    display: block; /* Eliminar el espacio adicional debajo de las imágenes */
    /* Espacio entre la imagen y el título */
    margin: 70px 110px 20px;
    transition: transform 0.3s;
}
.item img:hover {
    transform: scale(1.1); /* Aumenta el tamaño al 110% cuando pasa el cursor por encima */
}


.item a {
    display: block; /* Para que los elementos ocupen toda la anchura disponible */
    font-size: 20px;
    color: #ddd;
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif;
}

a.logout{
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    background-color: #ED361D;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 15px;
    float: right;
    transition: background-color 0.3s; /* Agrega una transición suave */
}

a.logout:hover {
    background-color: #BD300D; /* Cambia el color de fondo al pasar el ratón */
}
a.friends {
    font-weight: bold;
    display: inline-block;
    padding: 10px 10px;
    background-color: #4FCB7C;
    color: #fff;
    text-decoration: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-bottom: 15px;
    float: left;
}
.friendsImg img {
    position: relative;
    display: inline-block;
    width: 20px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin-top: 0px;
    padding: 9px 5px;
    background-color: #4FCB7C;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}