body {
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    padding: 0;
    background-color: #ddd;
    color: #ddd;
}
h1 {
    text-align: center;
    padding: 1.5rem;
    background-color: #678ACC;
    color: white;
    margin: 0 0 2rem 0;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}
h2{
    color: #26689e;
}

p{
    color: #26689e;
}

a.button {
    display: inline-block;
    color: #fff;
    background-color: #678ACC;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 0 20px;
    transition: background-color 0.3s; /* Agrega una transición suave */
}

a.button:hover {
    background-color: #26689e; /* Cambia el color de fondo al pasar el ratón */
}
a.add {
    display: inline-block;
    color: #fff;
    background-color: #628EE2;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 0 2rem 0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
#film-list div div img{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    bottom: 30px;
    left: 10px;
    margin-top: 40px;
    max-width: 100%;
    border-radius: 5px;
    padding-bottom: 3px;
    padding-top: 2px;
    box-shadow:0 0;
    transition: background-color 0.3s; /* Agrega una transición suave */
}

#film-list div div img:hover {
    background-color: red; /* Cambia el color de fondo al pasar el ratón */
}

#film-list > div {
    margin: 10px; /* Ajusta este valor a tu gusto */
}

#film-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
}

#film-list .film-item {
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    text-align: center;
    width: calc(33.333% - 2rem);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#film-list div img {
    width: 200px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

#film-list .film-item h2 {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    color: #26689e;
}

#film-list .film-item p {
    text-align: center;
    margin: 0;
    font-size: 1rem;
    color: #26689e;
}

@media (max-width: 768px) {
    #film-list div {
        width: calc(50% - 2rem);
    }
}

@media (max-width: 200px) {
    #film-list div {
        width: 100%;
    }
}