@import url("//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

body {
  font-family: 'Roboto', sans-serif;
  margin: 15px;
  padding: 0;
  background-color: black;
  color: #ddd;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/series-netflix.webp') center/cover;
  opacity: 0.4;
  z-index: -1;
  filter: blur(5px);
}
h1 {
  text-align: center;
  padding: 1.7rem;
  background-image: url('../images/cinta2.jpg');
  background-size: contain;
  width: 100%;
  height: 30px;
  color: black;
  margin: 0 0 2rem 0;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  opacity: 0.6;
  margin-left: -15px;
}

#filmForm {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7); 
  border-radius: 10px;
  padding: 20px;
  margin: 100px auto; 
  margin-top: 50px;
  float: none;
  }
  
  #filmForm label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #3B558A;
  }
  
  #filmForm input[type="text"],
  #filmForm input[type="number"],
  #filmForm input[type="file"] {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #95B4EF;
    color: #11234C;
    border: none;
    font-family: 'Roboto', sans-serif;
  }

.stars {
  width: 270px;
  display: inline-block;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
  color: #F62;
}

label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
  
  #filmForm input[type="submit"] {
    padding: 1rem;
    background-color: #26689e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;  
  }
  
  #filmForm input[type="submit"]:hover {
    background-color: #3B558A;
  }

a.Cancel {
  display: inline-block;
  padding: 1rem;
  background-color: #ED361D;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 12px;
  transition: background-color 0.1s ease;
}
a.Cancel:hover {
  background-color: #B42901;
}