body {
    font-family: 'Roboto', sans-serif;
    margin: 15px;
    padding: 0;
    background-color: black;
    color: #ddd;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/series-netflix.webp') center/cover;
    opacity: 0.4; 
    z-index: -1; 
}
h1 {
    text-align: center;
    padding: 1.7rem;
    background-image: url('../images/cinta2.jpg');
    background-size: contain;
    width: 100%;
    height: 30px;
    color: black;
    margin: 0 0 2rem 0;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    opacity: 0.6;
    margin-left: -15px;
}
h2{
    color: #ddd;
}

p{
    color: #ddd;
}

a.button {
    display: inline-block;
    color: #fff;
    background-color: #26689e;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 0 20px;
    transition: background-color 0.1s;
}

a.button:hover {
    background-color: #2E4F9B;
}
a.add {
    display: inline-block;
    color: #fff;
    background-color: #26689e;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 0 2rem 0;
    border-radius: 5px;
    transition: background-color 0.1s;
}

a.add:hover {
    background-color: #2E4F9B;
}
#film-list div div img{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    bottom: 30px;
    left: 10px;
    margin-top: 40px;
    max-width: 100%;
    border-radius: 5px;
    padding-bottom: 3px;
    padding-left: 0px;
    padding-top: 2px;
    box-shadow:0 0;
    transition: background-color 0.3s; 
    background-color: #F34F1B;
}

#film-list div div img:hover {
    background-color: #B42901;
}

#film-list > div {
    margin: 10px;
}

#film-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 2rem 2rem;
}

#film-list .film-item {
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    width: calc(33.333% - 2rem);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px 1rem 1rem;
}

#film-list div img {
    width: 200px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    max-height: 100%
}

#film-list .film-item h2 {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    color: #ddd;
}

#film-list .film-item p {
    text-align: center;
    margin: 0;
    font-size: 1rem;
    color: #ddd;
}

@media (max-width: 768px) {
    #film-list div {
        width: calc(50% - 2rem);
    }
}

@media (max-width: 200px) {
    #film-list div {
        width: 100%;
    }
}

form {
    float: right;
    color: #fff;
}

form input[type=submit] {
    background-color: #7C7C7C;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 2px;
    transition: background-color 0.2s;
    margin-left: 10px;
    font-size: 15px;
}
form input[type=submit]:hover {
    background-color: #5D5D5D;
}
form input {
    display: inline-flex;
    margin-right: 10px;
    background-color: #ddd;
    border: none;
    color: #000E54;
    padding: 2px;
    border-radius: 2px;
}
form input:focus{
    outline: none;
}
form input:active{
    outline: none;
}
form select:focus {
    outline: none;
}
form select:active {
    outline: none;
}
form select {
    display: inline-flex;
    margin-right: 10px;
    background-color: #ddd;
    border: none;
    color: #000E54;
    padding: 2px;
    border-radius: 2px;
}
form label{
    color: #ddd;
}