<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/sdPost.css">
    <title>Delete Film</title>
</head>
<body>
	<p>Film has been deleted.</p>
	<a href="/pending?username={{user.username}}" class="return">Back</a>
</body>
</html>