<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/editProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Edit profile</title>
</head>
<body>
   <h1>Edit Profile</h1>
    <form id="editForm" action="/editProfile/{{loggedInUser.username}}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="profilePicture"><strong>Profile picture:</strong></label>
            <input type="file" id="profilePicture" name="profilePicture" >
        </div>
        <div class="form-group">
            <label for="bio"><strong>Bio:</strong></label>
            <textarea id="bio" name="bio" rows="2" cols="10">{{loggedInUser.bio}}</textarea>
        </div>
        <input type="submit" value="Update Profile">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>
</body>
</html>
