<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/error2.css">
    <title>Error</title>
</head>
<body>
<h1>Error {{errorCode}}</h1>
<p>{{errorMessage}}</p>
<a href="/">Go back to the home page</a>
</body>
</html>
