<!DOCTYPE html>
<html>
<head>
    <title>{{friend.username}} Friends</title>
    <link rel="stylesheet" href="/css/friends.css">
</head>
<body>
<h1>{{friend.username}} Friends</h1>

<div id="friend-list">
    {{#friends}}
        <div>
            <p>Friend: {{username}}
                    <a href="/friends/{{loggedInUser.username}}/delete?friendUsername={{username}}&loggedInUser={{loggedInUser.username}}" class="delete">Delete friend</a>
            </p>
        </div>
    {{/friends}}
</div>
{{^friends}}
    <p class="no-friends-message">No friends found</p>
{{/friends}}

    {{#message}}
        <p id="message">{{message}}</p>
    {{/message}}
    <form action="/friends/{{friend.username}}/add?loggedInUser={{username}}" method="post">
        <label>
            <input type="text" name="friendUsername" placeholder="Enter username">
        </label>
        <button type="submit">Add friend</button>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    </form>
    <a href="/profile/{{friend.username}}" class="button">Return to Profile</a>
</body>
</html>