<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/login.css">
    <title>Log in</title>
</head>

<body>
<h1>Log in</h1>
<div id="toast">Incorrect credentials</div>
<form id="loginForm" form action="login" method="post">
    <label for="user">Username:</label>
    <br>
    <input type="text" id="user" name="username" required>
    <br>
    <label for="password">Password:</label>
    <br>
    <input type="password" id="password" name="password" required>
    <br>
    <input type="submit" value="Submit">
</form>
<script>
    // Check if the URL has 'error=true'
    var url = window.location.href;
    var authenticationError = url.includes('error=true');

    if (authenticationError) {
        var toast = document.getElementById("toast");
        toast.style.visibility = "visible";
        setTimeout(function () {
            toast.style.visibility = "hidden";
        }, 3000);
    }
</script>
</body>
</html>