<html>
<head>
    <link rel="stylesheet" href="/logout.css">
    <title>Logout</title>
</head>
<body>
    <h1>Logout</h1>
    <p>You have successfully logout!</p>
    <a href="index.html" class= "return">Return To Home</a>
</body>
</html>