<html>
<head>
    <link rel="stylesheet" href="/css/logout.css">
    <title>Log out</title>
</head>
<body>
<h1>Log out</h1>
<p>You have successfully log out!</p>
<a href="index.html" class="return">Return To Home</a>
</body>
</html>