<html>
<head>
    <link rel="stylesheet" href="/css/logout.css">
    <title>Log out</title>
</head>
<body>
    <h1>Log out</h1>
    <p>You have successfully logged out!</p>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Back to Login" class="logout">
    </form>
</body>
</html>