<html>

<head>
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile</title>
</head>

<body>
<h1>Welcome, User!</h1>
<a href="/logout" class= "logout">Logout</a>
<h2>Profile</h2>
<button onclick="location.href='/AddPending'">Add Film To Pending List</button>
<button onclick="location.href='/AddCompleted'">Add Film To Completed List</button>
<button onclick="location.href='/ViewPending'">Pending Films</button>
<button onclick="location.href='/ViewCompleted'">Completed Films</button>
<button onclick="location.href='/forum'">Forum</button>

</body>
</html>