<html>

<head>
    <link rel="stylesheet" href="completed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile</title>
</head>

<body>
<h1>Welcome, User!</h1>
<button onclick="location.href='/logout'">Logout</button>
<h2>Profile</h2>
<button onclick="location.href='/pending'">Pending List</button>
<button onclick="location.href='/completed'">Completed List</button>
<button onclick="location.href='/forum'">Forum</button>
</body>
</html>