<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile</title>
</head>

<body>
<h1>Welcome, User!</h1>
<a href="/logout" class= "logout">Logout</a>
<h2>Profile</h2>
<div class="friendsImg">
<a href="/friends" class= "friends">Friends</a>
<a href="/friends">
    <img src="/images/friends1.png" alt="Friends">
</a>
</div>
<div class="item">
    <a href="/pending" class="pending">
        <img src="/images/reloj.png" alt="Delete">
    </a>
    <a class="titlePend" href="/pending">Pending List</a>
</div>
<div class="item">
    <a href="/completed" class="completed">
        <img src="/images/tasks-regular-300x253.png" alt="Delete">
    </a>
    <a class="titleComp" href="/completed">Completed List</a>
</div>
<div class="item">
    <a href="/forum" class="forum">
        <img src="/images/forum3.png" alt="Delete">
    </a>
    <a class="titleFor" href="/forum">Forum</a>
</div>
</body>
</html>