<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/sdPost.css">
    <title>Saved Post</title>
</head>
<body>
<p>Post has been saved.</p>
<p>You have created {{numPosts}} so far.</p>
<a href="/forum" class="return">Back</a>
</body>
</html>