<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/Posts.css">
    <title>Post</title>
</head>
<body>
    <h1>{{post.user}} - {{post.title}}</h1>
    <div class="post-container">
	    <p>User: {{post.user}}</p>
	    <p>Title: {{post.title}}</p>
	    <p>Text: {{post.text}}</p>

	    <img src="/post/{{post.id}}/image" class="img"></img>
    </div>
	<br>

    <a href="/post/{{post.id}}/edit" class="edit">Edit post</a>
	<a href="/post/{{post.id}}/delete" class="delete">Delete post</a>

	<br>

	<a href="/forum" class= "return">Back</a>
</body>
</html>