<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/css/trailers.css">
    <title>Trailers</title>
</head>
<body>
    
    {{#message}}
        {{message}}
    {{/message}}
    
    <h1>Enjoy the last trailers!</h1>
    {{#isAdmin}}
        <form method="post" action="/trailer/upload" enctype="multipart/form-data">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title">

            <label for="description">Description:</label>
            <input type="text" id="description" name="description">

            <label for="file">Trailer:</label>
            <input type="file" id="file" name="file">

            <input type="submit" value="Upload">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        </form>
    {{/isAdmin}}

    {{#trailers}}
    <div class="trailer">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <video width="350px" height="250px" controls>
                <source src="/trailer/play/{{id}}">
        </video>
        {{#isAdmin}}
            <a href="/trailer/delete/{{id}}" class="delete">
                <img src="/images/3221803.png" alt="Delete">
            </a>
        {{/isAdmin}}
    </div>
    {{/trailers}}
    <a href="/profile/{{user.username}}" class="back">Back</a>
</body>
</html>