<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin - All Users</title>
    <!-- Add your CSS links here -->
</head>
<body>
<h1>Welcome, {{loggedInUser.username}}</h1>
<h2>All Users</h2>
<ul>
    {{#users}}
        <li>
            Username: {{username}}
            <form action="/admin/delete/{{username}}" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <input type="submit" value="Delete">
            </form>
        </li>
    {{/users}}
</ul>
</body>
</html>