<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin - All Users</title>
    <link rel="stylesheet" href=/css/UserList.css>
</head>
<body>
<h1>Welcome, {{loggedInUser.username}}</h1>
<h2>List of All Users</h2>
    {{#users}}
        <div class="user">
            <p>Username: {{username}}</p>
            <form action="/admin/delete/{{username}}" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <button type="submit" value="Delete">Delete</button>
            </form>
        </div>
    {{/users}}
<br>
<a href="/profile/{{loggedInUser.username}}" class="button">Return to Profile</a>
</body>
</html>