<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/usersProfile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile</title>
</head>
<body>
    <h1>Welcome!</h1>
    <div class="profile-picture-container">
    {{#loggedInUser.profilePicture}}
        <img src="/imageFile/{{loggedInUser.profilePicture}}" alt="Profile Picture">
    {{/loggedInUser.profilePicture}}
    {{^loggedInUser.profilePicture}}
        <img src="\images\default-avatar-profile-icon-of-social-media-user-vector.jpg" alt="Profile Picture">
    {{/loggedInUser.profilePicture}}
</div>
        <div class="user-info">
            <p><strong>Username:</strong> {{loggedInUser.username}}</p>
            <p><strong>Bio: </strong>{{loggedInUser.bio}}</p>
        </div>
    </div>
    <a href="/logout" class="logout">Logout</a>
    <a href="/editProfile/{{loggedInUser.username}}?loggedInUser={{loggedInUser.username}}" class="editProfile">Edit</a>

    <form action="/editProfile/{{loggedInUser.username}}/delete" method="post">
    <input type="submit" value="Delete user" class="delete">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    
</form>
</body>
</html>
