<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="ViewPending.css">
    <title>View Films</title>
</head>
<body>
<h1>View Films</h1>
<a href="/profile/{{user.username}}" class="button">Return to Profile</a>
<div id="film-list">
    {{#pending}}
        <div>
            <h2>Title: {{title}}</h2>
            <p>Year: {{year}}</p>
            <img src="/images/FilmsImages/image-{{imageId}}.jpg" class="imagen">
            <div>
                <a href="/pending/{{filmId}}/delete?username={{user.username}}" class="delete">
                <img src="/images/3221803.png" alt="Delete">
                </a>
                </div>
        </div>
        {{/pending}}
        {{^pending}}
                <p>No pending films yet.</p>
    {{/pending}}
</div>
</body>
<a href="/pending/add?username={{user.username}}" class="add">Add Film</a>
</html>