<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/ViewCompleted.css">
    <title>Completed Films</title>
</head>
<body>
<h1>Completed Films</h1>

<form action="/completed" method="get">
    <input type="hidden" name="username" value="{{user.username}}">
    <label for = "minRating">Minimum Rating:</label>
    <input type="number" id="minRating" name="minRating" min="0" max="5">
    <label for = "maxRating">Maximum Rating:</label>
    <input type = "number" id="maxRating" name="maxRating" min="0" max="5">
    <label for = "sort">Sort by:</label>
    <select id="sort" name="sort">
        <option value="title">Title</option>
        <option value="year">Year</option>
        <option value="rating">Rating</option>
    </select>
    <label for = "order">Order:</label>
    <select id="order" name="order">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
    <label for = "applySort">Apply Sort:</label>
    <input type = "checkbox" id="applySort" name="applySort">
    <input type = "submit" value = "Filter">
</form>

<br>
<a href="/profile/{{user.username}}" class="button">Return to Profile</a>
<div id="film-list">
    {{#completed}}
        <div>
            <h2>Title: {{title}}</h2>
            <p>Year: {{year}}</p>
            <p>Rating: {{rating}}</p>
            <img src="/imageFile/{{imageId}}" class= "imagen">
            <div>
                <a href="/completed/{{filmId}}/delete?username={{user.username}}" class="delete">
                    <img src="/images/3221803.png" alt="Delete">
                </a>
            </div>
        </div>
    {{/completed}}
    {{^completed}}
        <p>No completed films yet.</p>
    {{/completed}}
</div>
<a href="/completed/add?username={{user.username}}" class="add">Add Film</a>
</body>
</html>