<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/ViewCompleted.css">
    <title>Completed Films</title>
</head>
<body>
<h1>Completed Films</h1>
<a href="/profile" class="button">Return to Profile</a>
<div id="film-list">
    {{#films}}
        <div>
            <h2>Title: {{title}}</h2>
            <p>Year: {{year}}</p>
            <p>Rating: {{rating}}</p>
            <img src="{{imagePath}}" class= "imagen">
            <div>
                <a href="/completed/{{title}}/delete" class="delete">
                    <img src="/images/3221803.png" alt="Delete">
                </a>
            </div>
        </div>
    {{/films}}
    {{^films}}
                    <p>No completed films yet.</p>
        {{/films}}
</div>
<a href="/completed/add" class="add">Add Film</a>
</body>
</html>