<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="ViewPending.css">
    <title>View Films</title>
</head>
<body>
<h1>View Films</h1>
<a href="/profile" class="button">Return to Profile</a>
<div id="film-list">
    {{#films}}
        <div>
            <h2>{{title}}</h2>
            <p>Year: {{year}}</p>
            <img src="{{imagePath}}">
            <div>
                <a href="/pending/{{title}}/delete" class="delete">
                <img src="/images/3221803.png" alt="Delete">
                </a>
                </div>
        </div>
    {{/films}}
</div>
</body>
<button onclick="location.href='/pending/add'" class="button">Add Film</button>
</html>